doctype html
html(lang="de")
  head
    title Bootstrap Dev Server
    script(src='/assets/app.js')
  body
    #app
      nav.navbar.navbar-dark.bg-inverse.navbar-fixed-top
        .container
          .nav.navbar-nav
            a.nav-item.nav-link.active(href="#") Home
              span.sr-only (current)
            a.nav-item.nav-link(href="#") Features
            a.nav-item.nav-link(href="#") Pricing
            a.nav-item.nav-link(href="#") About
      .jumbotron
        .container
          h1.display-3 Hello, world!
          p.lead
            | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
          hr.m-y-md
          p
            | It uses utility classes for typography and spacing to space content out within the larger container.
          p.lead
            a.btn.btn-primary.btn-lg(href='#', role='button', data-toggle='modal', data-target='#modal')
              | Learn more
      .row.col-items
        .col-md-4.col-item
          i.fa.fa-headphones
          span.text It.
        .col-md-4.col-item
          i.fa.fa-glass
          span.text Just.
        .col-md-4.col-item
          i.fa.fa-thumbs-up
          span.text Works.
      #modal.modal.fade
        .modal-dialog(role='document')
          .modal-content
            .modal-body
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
                span.sr-only Close
              h4.modal-title Learned more!
            .modal-footer
              button.btn.btn-primary(type='button', data-dismiss='modal')
                | Ok!
