doctype html
html(lang='en')
  head
    // Required meta tags always come first
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(rel='stylesheet', href='./assets/styles/app.scss')
  body
    nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
      .container
        a.navbar-brand(href='#') JumpLink
        ul.nav.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Features
          li.nav-item
            a.nav-link(href='#') Pricing
          li.nav-item
            a.nav-link(href='#') About
    h1 Hello, world!
    // jQuery first, then Bootstrap JS.
    script(src='./assets/scripts/app.js')
